/* Body Styles */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.author {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #999;
}

.author a {
    color: #777;
    text-decoration: none;
}

.author a:hover {
    color: blue;
}

header.dark blockquote {
    color: #fff;
}

header.light blockquote {
    color: #000;
}

blockquote {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    border-left: 0px;
    padding: 20px;
}

blockquote h2 {
    padding-right: 40px;
    margin: 0px;
}

header.dark blockquote a {
    color: orange;
    text-decoration: underline;
}

header.light blockquote a {
    text-decoration: underline;
}

header.light {
    background-color: #fff;
}


/* Navigation Styles */

nav {
    position: relative;
}

header.dark nav {
    background-color: #29261e;
}

header.light nav {
    background-color: rgba(0, 0, 0, 0.5);
}

ul.main-nav {
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
}

ul.main-nav>li {
    display: inline-block;
    padding: 0;
}

ul.main-nav>li>a {
    display: block;
    padding: 20px 30px;
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    font-weight: 600;
}

ul.main-nav>li:hover {
    background-color: #f9f9f9;
}

ul.main-nav>li:hover>a {
    color: #333 !important;
    font-weight: 600;
}

ul.main-nav>li ul.sub-menu-lists {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
}

ul.main-nav>li ul.sub-menu-lists>li {
    padding: 2px 0;
}

ul.main-nav>li ul.sub-menu-lists>li>a {
    font-size: 14px;
}

.ic {
    position: fixed;
    cursor: pointer;
    display: inline-block;
    right: 25px;
    width: 32px;
    height: 24px;
    text-align: center;
    top: 0px;
    outline: none;
}

.ic.close {
    opacity: 0;
    font-size: 0px;
    font-weight: 300;
    color: #fff;
    top: 8px;
    height: 40px;
    display: block;
    outline: none;
}


/* Menu Icons for Devices*/

.ic.menu {
    top: 25px;
    z-index: 20;
}

.ic.menu .line {
    height: 4px;
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

.ic.menu .line-last-child {
    margin-bottom: 0px;
}

.sub-menu-head {
    margin: 10px 0;
}

.banners-area {
    margin-top: 20px;
    padding-top: 15px;
}

ul.main-nav>li>div.sub-menu-block {}

@media only screen and (max-width:768px) {
    .sub-menu-head {
        color: orange;
    }
    .ic.menu {
        display: block;
    }
    header.dark .ic.menu .line {
        background-color: #fff;
    }
    header.light .ic.menu .line {
        background-color: #000;
    }
    .ic.menu .line {
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }
    .ic.menu:focus .line {
        background-color: #fff !important;
    }
    .ic.menu:focus .line:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .ic.menu:focus .line:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -10px;
    }
    .ic.menu:focus .line:nth-child(3) {
        transform: translateY(15px);
        opacity: 0;
    }
    .ic.menu:focus {
        outline: none;
    }
    .ic.menu:focus~.ic.close {
        opacity: 1;
        z-index: 21;
        outline: none;
    }
    /*
    
    .ic.menu:focus ~ .ic.close { opacity: 1.0; z-index : 21;  }
    .ic.close:focus { opacity: 0; }
    */
    .ic.menu:hover,
    .ic.menu:focus {
        opacity: 1;
    }
    nav {
        background-color: transparent;
    }
    /* Main Menu for Handheld Devices  */
    ul.main-nav {
        z-index: 2;
        padding: 50px 0;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 0px;
        background-color: rgba(0, 0, 0, 1);
        height: 100%;
        overflow: auto;
        /*CSS animation applied : Slide from Right*/
        -webkit-transition-property: background, width;
        -moz-transition-property: background, width;
        -o-transition-property: background, width;
        transition-property: background, width;
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }
    .ic.menu:focus~.main-nav {
        width: 300px;
        background-color: rgba(0, 0, 0, 1);
    }
    ul.main-nav>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }
    .ic.menu:focus~.main-nav>* {
        opacity: 1;
    }
    ul.main-nav>li>a:after {
        display: none;
    }
    ul.main-nav>li:first-child {
        border-radius: 0px;
    }
    ul.main-nav>li {
        display: block;
        border-bottom: 1px solid #444;
    }
    ul.main-nav>li>a {
        font-weight: 600;
    }
    ul.main-nav>li ul.sub-menu-lists>li a {
        color: #eee;
        font-size: 14px;
    }
    .sub-menu-head {
        font-size: 16px;
    }
    ul.main-nav>li:hover {
        background-color: transparent;
    }
    ul.main-nav>li:hover>a {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    .ic.menu:focus~ul.main-nav>li>div.sub-menu-block {
        border-left: 0px solid #ccc;
        border-right: 0px solid #ccc;
        border-bottom: 0px solid #ccc;
        position: relative;
        visibility: visible;
        opacity: 1.0;
    }
    .sub-menu-block {
        padding: 0 30px;
    }
    .banners-area {
        padding-bottom: 0px;
    }
    .banners-area div {
        margin-bottom: 15px;
    }
    .banners-area {
        border-top: 1px solid #444;
    }
}

@media only screen and (min-width:769px) {
    .ic.menu {
        display: none;
    }
    /* Main Menu for Desktop Devices  */
    ul.main-nav {
        display: block;
        position: relative;
    }
    .sub-menu-block {
        padding: 15px;
    }
    /* Sub Menu */
    ul.main-nav>li>div.sub-menu-block {
        visibility: hidden;
        background-color: #f9f9f9;
        position: absolute;
        margin-top: 0px;
        width: 100%;
        color: #333;
        left: 0;
        box-sizing: border-box;
        z-index: 3;
        font-size: 16px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        opacity: 0;
        /*CSS animation applied for sub menu : Slide from Top */
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
    }
    ul.main-nav>li:hover>div.sub-menu-block {
        background-color: #f9f9f9;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    ul.main-nav>li>div.sub-menu-block>* {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }
    ul.main-nav>li:hover>div.sub-menu-block>* {
        opacity: 1;
    }
    .sub-menu-head {
        font-size: 20px;
    }
    /* List Separator: Outer Border */
    header.dark ul.main-nav>li>a {
        border-right: 1px solid #bbb;
    }
    header.light ul.main-nav>li>a {
        border-right: 1px solid #666;
    }
    /* List Separator: Inner Border */
    ul.main-nav>li>a:after {
        content: '';
        width: 1px;
        height: 62px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
    }
    header.dark ul.main-nav>li>a:after {
        background-color: #777;
    }
    header.light ul.main-nav>li>a:after {
        background-color: #999;
    }
    /* Drop Down/Up Arrow for Mega Menu */
    ul.main-nav>li>a.mega-menu>span {
        display: block;
        vertical-align: middle;
    }
    ul.main-nav>li>a.mega-menu>span:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        content: '';
        background-color: transparent;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }
    ul.main-nav>li:hover>a.mega-menu span:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #666;
    }
    .banners-area {
        border-top: 1px solid #ccc;
    }
}

.img-logo {
    vertical-align: middle;
    /* border-style: none; */
    /* border-radius: 50%; */
    /* border: 2px solid #fff !important; */
    width: 25% !important;
    /* right: 10px; */
}

.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}


/* ========================================================================slider code================================================================== */


/* The outermost element*/

.header-wrapper {
    overflow: hidden;
    width: `100%;
    height: 750px;
    text-align: center;
}

.zoominheader {
    width: 100%;
    height: 750px;
    text-align: center;
    background: url("../img/banner9.jpg");
    background-size: auto;
    </*background-attachment: fixed; */
    >background-repeat: repeat;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}


/* The innermost element*/

.zoomoutheader {
    width: 100%;
    height: 750px;
    text-align: center;
    background: none;
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    transition: all .5s ease-in-out;
    overflow: hidden;
}


/* Zoom in Keyframes */

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/*End of Zoom in Keyframes */


/* Zoom out Keyframes */

@-webkit-keyframes zoomout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.67);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.67);
    }
    100% {
        transform: scale(1);
    }
}


/*End of Zoom out Keyframes */


/*Style for the text*/

.text {
    color: red;
    font-weight: bold;
}

.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.project {
    width: 100%;
    height: 950px;
    background-image: url(../img/img11.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    float: left;
    text-align: center;
    color: white;
}

.project-2 {
    background-image: url(../img/img2.jpg);
}

.project-3 {
    background-image: url(../img/img3.jpg);
}


/* .project-4 { */


/* background-image: url(https://image.freepik.com/free-vector/abstract-geometric-background-design_1045-764.jpg); */


/* } */

.project-hover {
    width: 100%;
   
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(31, 31, 31, 0.8);
    padding: 40% 30px !important;
}

.project-hover hr {
    height: 30px;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
}

.project-hover a {
    color: rgba(255, 255, 255, 1);
    padding: 5px 22px;
    line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
    border-color: rgba(51, 51, 51, 1);
    color: rgba(51, 51, 51, 1);
    background-color: #FFF;
}

.project:hover .project-hover {
    opacity: 1;
}

.project:hover .project-hover hr {
    width: 100%;
    height: 5px;
}


/* ================================================================footer code============================================================ */

.footer-area-bg {
    background: rgba(0, 0, 0, 0) url(../img/footer-bg-layer.png) no-repeat scroll center bottom;
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer-area {
    position: relative;
}

.contact-form-area {
    height: 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.contact-form-area .modal-header {
    background: #ff8a00 none repeat scroll 0 0;
    letter-spacing: 2px;
    text-align: center;
}

.contact-form-area .modal-header h4 {
    color: #fff;
    margin-bottom: 0;
}

.footer-area h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.dark-bg {
    /* background: #1e262c; */
    background: #292929;
    color: #ffffff;
}

.section-padding {
    padding: 40px 0px 15px 0px;
    margin-left: -15px;
    margin-right: -15px;
}
.footer-bottom-area1{
	 margin-left: -15px;
    margin-right: -15px;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-area a:hover {
    color: #399193;
}
.f_contact_icon i:hover{
	color: #399193;
}
a:hover {
    text-decoration: none;
    color: #ff8a00;
}

ul.social-bookmark {
    margin-top: 20px;
}

ul.social-bookmark li {
    display: inline;
}

ul.social-bookmark li a {
    border: 1px solid;
    border-radius: 50%;
    color: #ccdae9;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    padding-top: 8px;
    width: 40px;
    text-align: center;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list li,
.footer-menu li {
    float: left;
    margin-bottom: 10px;
    min-height: 40px;
    width: 50%;
}

.footer-list li a,
.footer-menu li a {
    position: relative;
}

.footer-area a {
    color: #fff;
}

.footer-menu li a::before,
.footer-menu li a::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 10px;
    left: 0;
    margin-right: 15px;
    position: relative;
    top: -1px;
    width: 10px;
}

.footer-menu li a::after {
    background: #fff none repeat scroll 0 0;
    float: left;
    left: 3px;
    position: absolute;
    top: 8px;
}

.contact-details li {
    margin-bottom: 10px;
    min-height: 40px;
    padding-left: 40px;
    position: relative;
}

.contact-details li .f_contact_icon {
    font-size: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 40px;
}

.footer-bottom-area {
        /* background: #171e24 none repeat scroll 0 0; */
    background: #3b3a3a none repeat scroll 0 0;
    color: #fff;
    border-top: 1px solid #4a4949;
}

.footer-copyright {
    padding: 15px 0 0px;
}

.text-1{
	margin: auto;
    width: 70%;
}
/*---------------------------Footer End----------------------------------------------------------------------------------*/

.ban {
    padding-top: 90px;
    padding-left: 190px;
    color: #fff;
    text-align: left;
    line-height: 1.25;
}

.ban1 {
    color: #fff;
    padding-left: 190px;
    text-align: left;
    line-height: 1.25;
}


}
.heading {
    padding: 45px;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 400;
}
.prag {
    text-align: center;
    padding-left: 280px;
    padding-right: 280px;
}
@media screen and (max-width: 480px) {
    .ban {
        padding-left: 50px;
    }
}
@media screen and (max-width: 480px) {
    .ban1 {
        padding-left: 50px;
    }
}
@media screen and (max-width: 767px) {
    .ban {
        padding-left: 50px;
    }
}
@media screen and (max-width: 767px) {
    .ban1 {
        padding-left: 50px;
    }
}
.cemetery {
    padding: 80px 0 60px;
    background-color: #fff;
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}
.cemetery__title {
    color: #323232;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px) .cemetery .button--clear {
    font-size: 12px;
}
.button--blue {
    color: #2d6d84;
    border: 2px solid #2d6d84;
}
.navbar {
    position: fixed !important;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
	background-color: #292929 !important;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

/* ===============================================slider code=========================================== */

/*-----start slider home-------------------------------------------------------------------*/
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    
    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}
@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    
    to {
        transform: scale(1.5, 1.5);
    }
}
.carousel-inner .item>img {
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
}

/*------------End slider home-------------------------------------------------------------------*/

/*---- Satart services------------------------------------------------------------------------*/
.mt-60{
    margin-top:60px;
}

.section-block-grey {
    padding: 30px 0px 150px 0px;
   
	width: 1600px;
}

.serv-section-2 {
    position: relative;
    /* border: 1px solid #eee; */
    background: #292929;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
}

.serv-section-2:before {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    content: " ";
    width: 120px;
    height: 120px;
    background: #141414;
    border-bottom-left-radius: 136px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-2-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon i {
    color: #e64a34;
    font-size: 48px;
    line-height: 65px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.serv-section-2 h5 {
    color: #333;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin-top: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #e64a34;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.serv-section-2 p {
    margin-top: 25px;
    padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
    color: #fff;
}

.serv-section-2:hover:before {
    background: #e64a34;
}


/*-------End services-------------------------------------------------------------------------------*/

/*------------------------padding--------------------------------------*/
.md {
    padding: 0px;
}
.md1 {
    padding-bottom: 50px;
}
.mda {
    padding-bottom: 30px;
}

.mda1 {
    padding-bottom: 300px;
}

.md8{
	padding-left: 50px;
	padding-right: 50px;
}

.md2 {
    padding-left: 50px;
}
.md3 {
    padding-right: 50px;
}
.md {
    padding-top: 50px;
}
.md4 {
    padding-right: 120px;
    padding-left: 120px;
}
.md22 {
    padding-top: 200px;
}

.md23 {
    padding-top: 130px;
	    margin-left: -54px;

}



/*---------------------end padding---------------*/

/*--------------------Count----------------------------*/
.number-counters,
.number-counters-dark-bg {
    position: relative;
    background: url(../img/mac-coffe-photo.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 600px;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* @media (min-width: 992px) { */
    /* .container { */
        /* width: 970px; */
    /* } */
/* } */
/* @media (min-width: 768px) { */
    /* .container { */
        /* width: 750px; */
    /* } */
/* } */
.container {
    margin-right: auto;
    margin-left: auto;
}
.number-counters .count-wrapper .count-item,
.number-counters-dark-bg .count-wrapper .count-item {
    display: block;
    text-align: center;
}
.number-counters .count-wrapper .count-item .count-nbr,
.number-counters-dark-bg .count-wrapper .count-item .count-nbr {
    display: block;
    margin-bottom: 30px;
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 65px;
    font-weight: lighter;
    color: #ececec;
}
.number-counters .count-wrapper .count-item .count-text,
.number-counters-dark-bg .count-wrapper .count-item .count-text {
    color: #ececec;
}
.number-counters:before,
.number-counters-dark-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.65);
}
.section {
    padding-top: 160px;
    /* padding-bottom: 100px; */
}
@media (min-width: 1200px) .container {
    width: 1170px;
}
@media (min-width: 992px) .container {
    width: 970px;
}
@media (min-width: 768px) .container {
    width: 750px;
}

/*---------------Form-------------*/
input:focus {
    outline: none;
}
form {
    /*width: 35%;*/
    
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* background: whitesmoke; */
    border-radius: 15px;
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
}
form>div {
    float: left;
    margin-bottom: 30px;
}
form>div>p {
    font-size: 12px;
    margin-bottom: 3px;
}
form>div>input {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px;
    border: 0;
    background: whitesmoke;
    border-bottom: 1px solid silver;
    width: 100%;
    color: gray;
}
form>p:last-of-type {
    text-align: center;
    padding-top: 50px;
    display: table;
    width: 100%;
    color: white;
}
form>p:last-of-type>a {
    cursor: pointer;
    border: 0;
    padding: 10px 25px;
    background: silver;
    border-radius: 28px;
    font-size: 12px;
}
.term {
    padding-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}
.term>i {
    cursor: pointer;
    width: 20px;
}
.term>span {
    font-size: 12px;
}

/* delete */
form>a:last-of-type {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 10px;
    letter-spacing: 1px;
    font-style: italic;
}
.back-img{
	    background: url(../img/testimonial-parallax.jpg);
		padding: 40px 0px;
    /* background-attachment: fixed; */
    margin-top: 0px;
    background-position: center center;
}


.back-img1{
	    background: url(../img/reviews-v1-bg.jpg);
		padding: 40px 0px;
    /* background-attachment: fixed; */
    margin-top: 0px;
    background-position: center center;
}







/*---------------------------------------Videos----------------------------------------------------*/
.back-vid {
    position: relative;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
section .container {
    position: relative;
    z-index: 2;
}
section .overlay-wcs {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}
.special {
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}


 .content {
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.content video {
    width: 100%;
    display: block;
}
.content:before {
    content: '';
    position: absolute;
    background: rgba(0,
    0,
    0,
    0.5);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.project .written {
    display:block;
}
.project:hover .written {
    display: none;
}
.written {
    padding-top: 390px;

    }
	
	
	.abc1{
	font-size: 2.25em;
    font-weight: 800;
    line-height: 1.2;
	}
	
	.abc2{
		line-height: 1.2;
		color:#fff;
		padding-right:30px;
		padding-left:30px;
	}
	
	
	/* home  new banner*/
	.reviews{
    padding: 0px;
    max-width: 1500px;
    margin: 0 auto;
}

.review-item{
    background-color: #292929;
    padding: 0px;
    margin-bottom: -0px;
    box-shadow: 1px 1px 5px #24292f;
	color:#fff;
}

.review-item .review-date{
    color: #cecece;
}
.review-item .review-text{
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
}

.review-item .reviewer{
    width: 100px;
    height: 100px;
    border: 1px solid #cecece;
}

/****Rating Stars***/
.raterater-bg-layer {
    color: rgba( 0, 0, 0, 0.25 );
}
.raterater-hover-layer {
    color: rgba( 255, 255, 0, 0.75 );
}
.raterater-hover-layer.rated { /* after the user selects a rating */
    color: rgba( 255, 255, 0, 1 );
}
.raterater-rating-layer {
    color: rgba( 255, 155, 0, 0.75 );
}
.raterater-outline-layer {
    color: rgba( 0, 0, 0, 0.25 );
}

/* don't change these - you might break something.. */
.raterater-wrapper {
    overflow:visible;
}

.software .raterater-wrapper {
    margin-top: 4px;
}

.raterater-layer,
.raterater-layer i {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0px;
    left: 0px;
}
.raterater-hover-layer {
    display: none;
}
.raterater-hover-layer i,
.raterater-rating-layer i {
    width: 0px;
    overflow: hidden;
}




.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}
.header-title{
    margin: 0rem 0;
}
h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
}
h2{
    color: #ffffff;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
}


.bannerclient {
background-color:#141414;
    /* background: url(../img/back2.jpg) no-repeat fixed; */
    background-size: cover;
  
}

.vidove-img img{
	    width: 100%;
    height: auto;
}

.intro img, .intro video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
}

.audio, canvas, video {
    display: inline-block;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.user agent stylesheet
.video {
    object-fit: contain;
}



.intro .vert-center {
    position: absolute;
}

.vert-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    zoom: 1;
    display: block;
    z-index: 100;
    width: 100%;
}



.col-md-12 {
	padding-right:0px!important;
	padding-left:0px! important;
	padding-top:0px !important;
}



.ccc1  {
    font-size: 2.4rem!important;
	font-family: 'Gelasio', serif;
	color:#e64a34;
	
}

.bbb1  {
    font-size: 2.5rem!important;
	font-family: 'Gelasio', serif;
	color:#e64a34;
	}

.fot1{
	font-family: 'Gelasio', serif;
    font-size: 1.6rem;
    line-height: 1.55;
	
}


 .aaa1{
	font-family: 'Gelasio', serif;
    font-size: 1.3rem;
    line-height: 1.5;
	
}






	.ccc  {
    font-size: 3.9rem!important;
	font-family: 'Gelasio', serif;
	color:#e64a34;
	
}

.bbb  {
    font-size: 2.5rem!important;
	font-family: 'Gelasio', serif;
	color:#e64a34;
	}

.fot{
	font-family: 'Gelasio', serif;
    font-size: 1.6rem;
    line-height: 1.55;
	
}


 .aaa{
	font-family: 'Gelasio', serif;
    font-size: 1.8rem;
    line-height: 1.55;
	
}
 
 .p{
	 font-family: 'Gelasio', serif;
 }
 .btn{
	 background-color:#e64a34;
	 font-family: 'Gelasio', serif;        
	
    font-size: 1.5rem!important;
	 color:#fff;
 }

@media screen and (max-width: 480px) {
    .ban1 {
        padding-left: 50px;
    }
}
@media screen and (max-width: 767px) {
    .ban {
        padding-left: 50px;
    }
}




@media screen and (max-width:480px){
   section{
       position: relative;
    
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    }
    
}


.cba {
  
	 background-image: url("../img/quote-bg.jpg");
	
	font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
}


.cba1 {
  
	 background-image: url("../img/contact3.jpg");
	
	font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
}





.ddd h4{
   font-size: 3.9rem!important;
   color:#fff!important;
}


.fa-5x {
    font-size: 3em!important;
}



/*-----------------------------------------Testimonial-----------------------------------------*/

.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.form-arka-plan{
    background-image: url("../img/Buster Homepage midpage banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		height:500px;
		width: 1530px;
}

.form-arka-plan1{
   
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		height:500px;
		width: 730px;
}




.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}




/*our offices*/
/* Font Families Imports */
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Removable Demo Title */
.demo-title {
	font-family: 'DM Serif Display', serif;
	font-weight: normal;
	font-size: 30px;
	color: #FFFFFF;
}

/* Removable Demo Copyright Paragraph */
.demo-copyright {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #CCCCCC;
}






/* Demo 4 - Layla Effect */
.layla-box {
    background-color: #e64a34; 
    position: relative; 
    overflow: hidden;
}
.layla-box img {
    width: 100%; 
    height: auto; 
    overflow: hidden;
    transform: scale(1.25) translate3d(0,-30px,0); 
    transition: all 0.35s ease;
}
.layla-box .layla-caption {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
}
.layla-box .layla-caption:before, .layla-box .layla-caption:after {
    position: absolute; 
    content: ''; 
    opacity: 0;
    transition: all 0.35s ease; 
    transition: opacity 0.35s, transform 0.35s;
}
.layla-box .layla-caption:before {
    transform: scale(0, 1); 
    transform-origin: 0 0;
    border-top: 1px solid #FFFFFF; 
    border-bottom: 1px solid #FFFFFF;
    top: 30px; 
    bottom: 30px; 
    left: 20px; 
    right: 20px;
}
.layla-box .layla-caption:after {
    transform: scale(1, 0); 
    transform-origin: 100% 0;
    border-left: 1px solid #FFFFFF; 
    border-right: 1px solid #FFFFFF;
    top: 20px; 
    bottom: 20px; 
    left: 30px; 
    right: 30px;
}
.layla-box .layla-caption .layla-title {
    position: absolute; 
    top: 40%; 
    left: 0%; 
    width: 100%; 
    height: auto;
    font-family: 'DM Serif Display', serif; 
    font-weight: normal; 
    font-size: 2rem;
    text-transform: uppercase; 
    text-decoration: none; 
    text-align: center;
    color: #FFFFFF; 
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate3d(0,-30px,0);
	transition: transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.layla-box .layla-caption .layla-desc {
    position: absolute; 
    bottom: 30%; 
    left: 15%; 
    width: 70%; 
    height: auto;
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal; 
    font-size: 0.9rem;
    text-transform: uppercase; 
    text-decoration: none; 
    text-align: center;
    letter-spacing: 1px; 
    color: #FFFFFF; 
    opacity: 0;
	transform: translate3d(0,-10px,0);
    transition: opacity 0.35s, transform 0.35s;
}
.layla-box:hover img {
    opacity: 0.4;
    transition-delay: 0.15s;
	transform: scale(1.25) translate3d(0, 0, 0);
}
.layla-box:hover .layla-caption:before {
    opacity: 1;
	transform: scale(1);
}
.layla-box:hover .layla-caption:after {
    opacity: 1;
	transform: scale(1);
	transition-delay: 0.15s;
}
.layla-box:hover .layla-caption .layla-title {
    opacity: 1;
    transition-delay: 0.15s;
	transform: translate3d(0,0,0);
}
.layla-box:hover .layla-caption .layla-desc {
    opacity: 1;
    transition-delay: 0.15s;
	transform: translate3d(0,0,0);
}




 .bg-dark1
{
	background-color:#000!important;
}



/*------------------------------------------------------Clients------------------------------------------------------------------*/

   .text-back{
	   background: rgba(0,0,0,0.3);
    padding: 14px 13px;
   }

.font-back{
	background: #2d7480;
	 padding: 14px 13px;      
}


/*-------------------------------------------Testimonial-----------------------------------------*/



.card {
  margin: 0 auto;
}
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  /* color: #3d3d3d; */
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    /* background-color: #6f6e6e; */
    padding: 10px;
    
}
a:hover > .ico {
    background-color: #666;
}
.card1{
	background: transparent;
	border: 0px solid rgba(0, 0, 0, .125);
}

.carousel-caption{
	bottom:0px !important;
}
.fa-left{
	    padding-right: 10px;
    color: #e64a34;
}
.fa-right{
	   padding-left: 10px;
    color: #e64a34;
}
.footer-copy1{
	visibility: inherit !important;
}
/*--------------------------------------------------------------------*/
.mb-5, .my-5 {
    margin-bottom: 5rem!important;
}
.mt-5, .my-5 {
    margin-top: 5rem!important;
}

/* =======================================================about video code==============================================================  */

/* body { */
/* background-color: #30b3f2; */
/* } */
/* h1 { */
/* color: #fff; */
/* } */
/* section { */
/* padding-top: 2em; */
/* padding-bottom: 2em; */
/* } */
/* section h1 { */
/* margin-bottom: 1em; */
/* } */
/* section img { */
/* border: #ddd solid 0px; */
/* border-radius: 5px; */
/* } */
.play-btn{
width:50px;
position:relative;
top:-50%;
cursor: pointer;
transition:0.5s;
opacity:0;
}
.col-md-4:hover .play-btn{
opacity:1;
}
.modal-content{
background:transparent !important;
border:none !important;
}
.play-video-1 button.btn.btn-default{
background: black;
border-radius: 50%;
position: absolute;
right: 0;
z-index: 5;
color: white;
}

/* =======================================================================contact-us code=================================================================== */
.breadcrumbs h1{
	position: relative;
    padding-bottom: -20px;
    text-align: left;
	top: -25%;
       padding-left: 10%;  
}
.style3 h1{
	margin-top: 50px;
}
.mid-part {
    margin-bottom: 20px;
	margin-top: 50px;
}

.con-bred{
    max-width: 100%;
}
section.contact {
    clear: both;
    /* padding: 40px 0px 10px; */
    /* margin-bottom: 30px; */
    /* background: url(../image/contact-bg.png); */
    background-size: cover;
    position: relative;
}
.contact1{
	width: 100%;
	    margin-top: -5%;
}
.contact-col {
    text-align: center;
    padding: 20px;
    min-height: 210px;
	    border: 1px solid #000;
}
.contact-col:hover{
	 border-bottom: 2px solid #399193;
}
.upper-1{
	      margin-bottom: 50px;
    margin-top: 50px;
}
.contact-col-2 {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: -2px -2px 30px -10px;
}
.contact-col .icon-box {
    width: 70px;
    height: 70px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    margin: auto;
}
img{
	max-width: 100%;
}
.contact-text h2 {
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    margin-top: 20px;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
}
.contact-text h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 1.5;
}
.wpcf7-form-control-wrap {
    position: relative;
}
.wpcf7-form-control-wrap textarea, .wpcf7-form-control-wrap input, .wpcf7-form-control-wrap select {
    background: #efefef;
    padding: 0 20px;
    line-height: 50px;
    border: 1px solid #ececec;
    color: rgba(0, 0, 0, 0.6);
}


.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap select {
    margin-bottom: 15px;
    width: 100%;
  
}
.your-message textarea {
    max-height: 160px;
	    width: 100%;
}

.m-t-2 input[type="submit"] {
    line-height: 48px;
    border-width: 1px;
    padding: 0 30px;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
	border-radius: 25px;
	/* background: #eb2f5b; */
	background: #000;
	
}
.m-t-2 input[type="submit"]:hover {
    background-color: #399193;
	 background: -webkit-linear-gradient(#4ef4fb, #3BB792);
	    
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
.head-mar{
	margin-right:-50px;
}
.style4 h1 {
  font-size: 72px;
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: -webkit-linear-gradient(#4ef4fb, #3BB792);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style5 h1{
	    font-size: 45px;
		    /* font-size: 72px; */
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: -webkit-linear-gradient(#4ef4fb, #3BB792);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ==============================================================about code============================================================= */
.gaping-cover{
	margin-bottom: -5%;
}
.sec-ab{
	width:100%;
}
.about-head {
    margin-bottom: 20px;
	/* margin-top: 30px; */
	    padding-top: 30px;
}
.center {
    text-align: center;
	line-height:25px;
	font-size: 15px;
	width: 73%;
    margin: auto;
}
.about-head h1 {
    font-size: 22px;
    /* line-height: 30px; */
    /* margin-bottom: 10px; */
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
    position: relative;
    margin-top: 0px;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.style5 h1 {
    font-size: 49px;
    /* font-size: 72px; */
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: -webkit-linear-gradient(#4ef4fb, #3BB792);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hr.dev-style5 {
    border-top: 1px dashed #ccc;
    border-bottom: 1px solid #ddd;
    color: #fff;
    background-color: transparent;
    height: 3px;
    position: relative;
    width: 100%;
    border-color: #b5b3b3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.divider {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}
.testimonial-inner p {
    text-align: center;
    font-size: 16px;
    padding: 10px 60px 0 60px;
    /* line-height: 1.6em; */
    position: relative;
    width: 79%;
    margin: auto;
    margin-bottom: 40px;
    font-weight: 600;
}
i.left-side{
	/* color: #3bb792; */
	    padding-right: 10px;
}
.right-side{
	color: #3bb792;
	padding-left: 10px;
}

.testimonial-inner i:before{
	color: #3bb792;
}
.about-one {
    background: url(../img/aboutone.jpg) no-repeat;
    padding: 40px 0px;
    background-attachment: fixed;
    margin-top: 0px;
    background-size: cover;
	    width: 100%;
		padding-bottom: 50px;
}
/* .about-oneimg { */
    /* padding: 40px 41px; */
    /* background: #fff; */
    /* border-top-right-radius: 20%; */
    /* border-bottom-left-radius: 20%; */
/* } */
/* .about-oneimg h1 { */
    /* font-size: 16px; */
    /* font-weight: 600; */
    /* color: #000; */
    /* margin-bottom: 20px; */
    /* margin-top: 0px; */
    /* text-transform: uppercase; */
/* } */
/* .about-oneimg p { */
    /* text-align: justify; */
	/* color: #000; */
    /* line-height: 25px; */
/* } */
.head-silp h1{
	text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 600;
	/* background: -webkit-linear-gradient(#eee, #333); */
    background: -webkit-linear-gradient(#4ef4fb, #3BB792);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ==============================================circle code======================== */
.holderCircle { width: 500px; height: 500px; border-radius: 100%; margin: 60px auto; position: relative; }


.dotCircle { width: 100%; height: 100%; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; z-index: 20; }
.dotCircle  .itemDot { display: block; width: 80px; height: 80px; position: absolute; background: #ffffff; color: #7d4ac7; border-radius: 20px; text-align: center; line-height: 80px; font-size: 30px; z-index: 3; cursor: pointer; border: 2px solid #e6e6e6; }
.dotCircle  .itemDot .forActive { width: 56px; height: 56px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
.dotCircle  .itemDot .forActive::after { content: ''; width: 5px; height: 5px; border: 3px solid #7d4ac7; bottom: -31px; left: -14px; filter: blur(1px); position: absolute; border-radius: 100%; }
.dotCircle  .itemDot .forActive::before { content: ''; width: 6px; height: 6px; filter: blur(5px); top: -15px; position: absolute; transform: rotate(-45deg); border: 6px solid #a733bb; right: -39px; }
.dotCircle  .itemDot.active .forActive { display: block; }
.round { position: absolute; left: 40px; top: 45px; width: 410px; height: 410px; border: 2px dotted #a733bb; border-radius: 100%; -webkit-animation: rotation 100s infinite linear; }
.dotCircle .itemDot:hover, .dotCircle .itemDot.active { color: #ffffff; transition: 0.5s;   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */ background: #7d4ac7; /* Old browsers */ background: -moz-linear-gradient(left, #7d4ac7 0%, #a733bb 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #7d4ac7 0%, #a733bb 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #7d4ac7 0%, #a733bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4ac7', endColorstr='#a733bb', GradientType=1); /* IE6-9 */ border: 2px solid #ffffff; -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); }
.dotCircle .itemDot { font-size: 40px; }
.contentCircle { width: 250px; border-radius: 100%; color: #222222; position: relative; top: 150px; left: 50%; transform: translate(-50%, -50%); }
.contentCircle .CirItem { border-radius: 100%; color: #222222; position: absolute; text-align: center; bottom: 0; left: 0; opacity: 0; transform: scale(0); transition: 0.5s; font-size: 15px; width: 100%; height: 100%; top: 0; right: 0; margin: auto; line-height: 250px; }
.CirItem.active { z-index: 1; opacity: 1; transform: scale(1); transition: 0.5s; }
.contentCircle .CirItem i { font-size: 180px; position: absolute; top: 0; left: 50%; margin-left: -90px; color: #000000; opacity: 0.1; }
@media only screen and (min-width:300px) and (max-width:599px) {
	.holderCircle {/* width: 300px; height: 300px;*/ margin: 110px auto; }
	.holderCircle::after { width: 100%; height: 100%; }
	.dotCircle { width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
}
@media only screen and (min-width:600px) and (max-width:767px) { }
@media only screen and (min-width:768px) and (max-width:991px) { }
@media only screen and (min-width:992px) and (max-width:1199px) { }
@media only screen and (min-width:1200px) and (max-width:1499px) { }
  .title-box .title { font-weight: 600; letter-spacing: 2px; position: relative; z-index: -1; }
        .title-box span { text-shadow: 0 10px 10px rgba(0, 0, 0, .15); font-weight: 800; color: #640178; }
        .title-box p {font-size: 17px; line-height: 2em; }
/* ============================================== circle end ======================== */

/* ===========================================================about slipre video code=================================== */
.btn-icon, .btn-txt {
    position: relative;
    z-index: 3;
}
.intro-silpr{
	 padding: 30px 0px 0px 30px;
}
.fri-text i{
	color:#3ab594;
	    padding-right: 11px;
    font-size: 20px;
}
.intro-text{
	font-size: 22px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px !important;
}

.intro-silpr p{
	    font-size: 27px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* color: #000; */
	    /* line-height: 50px; */
}

.play-text{
	padding-left: 56%;
    padding-top: 25%;
    font-size: 23px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
	font-weight:600;
}
.play-text:hover {
    font-weight: 600;
	/* background: -webkit-linear-gradient(#eee, #333); */
    background: -webkit-linear-gradient(#4ef4fb, #3BB792);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-silpr h2{
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-size: 35px;
    font-weight: 600;
    /* color: #000; */
    padding-bottom: 20px;
}
.about-one video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* width: auto; */
    width: 1000px;
    /* height: auto; */
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.btn-txt{
	color: #fff;
}
.play-video-1 button.btn.btn-default{
	 background: black;
    border-radius: 50%;
    position: absolute;
    right: 0;
    z-index: 5;
    color: white;
}
.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 15px;
    height: 12px;
    background: #b50201;
    border-radius: 50%;
    padding: 9px 24px 18px 28px;
}
.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 75px;
    height: 75px;
    background: #b50201;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #b50201;
    border-radius: 50%;
    transition: all 200ms;
    border: solid 4px #fff;
}
.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 18px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
	padding-left: 41px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
/* ===============================================================anout offer========================================= */
.offer{
	width: 100%;
}
.heading {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.heading h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0px;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    position: relative;
}
.heading h1:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 5%;
    background: #3BB792;
    bottom: -1px;
    left: 0px;
}
.go {
    padding: 0px;
}
.go li {
    list-style: none;
    line-height: 40px;
    background: url(../img/tick.png) no-repeat;
    background-position: left center;
    padding-left: 24px;
    font-weight: 600;
    color: #fff;
    /* margin-bottom: 20px; */
    /* padding-bottom: 20px; */
    /* text-transform: uppercase; */
    display: inline-block;
    width: 47%;
    /* float: left; */
    font-size: 14px;
}
.back-boxed {
    background-image: url(../img/texture2.jpg);
	    padding-top: 20px;
    padding-bottom: 30px;

}
.offer-img{
  /* border: 1px solid; */
  /* padding: 10px; */
  background: 5px 10px 18px #888888;
}
/* ===========================================================about slipre video end=================================== */
#slider-animation{max-height:550px;}
.heading-box h2{ width:100%; color: red; }
h2, p{color:#fff;}
.carousel-item img{width:100%;}
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #000;
	transform: translateY(-50%);
}
/* =====================================================text about mid animation code=========================================== */
.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

.sec-title{
	position:relative;
	margin-bottom:45px;
}

.sec-title .title{
	position: relative;
    color: #84858a;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.sec-title .title:before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 6px;
    height: 6px;
    background-color: #f43737;
}

.sec-title h2{
    position: relative;
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: capitalize;
	-webkit-mask-image: linear-gradient(-75deg, rgba(244,55,55,0.6) 50%, #f43737 50%, rgba(0,0,0,1) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.sec-title.centered{
	text-align: center;
}

.sec-title.centered .text{
	max-width:580px;
	margin:0 auto;
}

.sec-title .title.light::before{
	background-color:#ffffff;
}

.sec-title.light .title,
.sec-title.light h2,
.sec-title.light .text{
	color:#ffffff;
}

.sec-title.centered .title:before{
	left:50%;
	margin-left:-3px;
}
/* =================================================menudropdown======================================== */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
	/* border: 0; */
	/* list-style: none; */
	/* line-height: 1; */
	/* display: block; */
	/* position: relative; */
	/* -webkit-box-sizing: border-box; */
	/* -moz-box-sizing: border-box; */
	/* box-sizing: border-box */
}

#cssmenu:after,
#cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#cssmenu #head-mobile {
	display: none
}

.#cssmenu {
	/* font-family: sans-serif; */
	/* background: #333 */
}

#cssmenu>ul>li {
	float: left
}

#cssmenu>ul>li>a {
	/* padding: 17px; */
	font-size: 25px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ddd;
	font-weight: 700;
}

#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
	color: #fff
}

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
	background: #399193!important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 25px
}

#cssmenu>ul>li.has-sub>a:after {
	position: absolute;
	top: 27px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}

#cssmenu>ul>li.has-sub>a:before {
	position: absolute;
	top: 24px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
	top: 23px;
	height: 0
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #333;
	transition: all .25s ease
}

#cssmenu ul ul li:hover {}

#cssmenu li:hover>ul {
	left: auto
}

#cssmenu li:hover>ul>li {
	height: 35px
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
	padding-left: 30px;
}

#cssmenu ul ul li a {
	border-bottom: 0px solid rgba(150, 150, 150, 0.15);
	padding: 8px 10px;
	width: 170px;
	font-size: 14px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
	letter-spacing: 1px;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
	/* border-bottom: 0 */
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
	color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}

#cssmenu ul ul li.has-sub>a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
	top: 17px;
	height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}

#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
	border-top: 1px solid #333
}

@media screen and (max-width:360px) {
	/* .logo { */
		/* position: absolute; */
		/* top: 0; */
		/* left: 0; */
		/* width: 100%; */
		/* height: 46px; */
		/* text-align: center; */
		/* padding: 10px 0 0 0; */
		/* float: none */
	/* } */
	/* .logo2 { */
		/* display: none */
	/* } */
	/* nav { */
		/* width: 100%; */
	/* } */
	#cssmenu {
		width: 100%
	}
	#cssmenu ul {
		width: 100%;
		/* display: block !important; */
	}
	#cssmenu ul li {
		width: 100%;
		border-top: 1px solid #444
	}
	#cssmenu ul li:hover {
		background: #363636;
	}
	#cssmenu ul ul li,
	#cssmenu li:hover>ul>li {
		height: auto
	}
	#cssmenu ul li a,
	#cssmenu ul ul li a {
		width: 100%;
		border-bottom: 0
	}
	#cssmenu>ul>li {
		float: none
	}
	#cssmenu ul ul li a {
		padding-left: 25px
	}
	#cssmenu ul ul li {
		background: #333!important;
	}
	#cssmenu ul ul li:hover {
		background: #363636!important
	}
	#cssmenu ul ul ul li a {
		padding-left: 35px
	}
	#cssmenu ul ul li a {
		color: #ddd;
		background: none
	}
	#cssmenu ul ul li:hover>a,
	#cssmenu ul ul li.active>a {
		color: #fff
	}
	#cssmenu ul ul,
	#cssmenu ul ul ul {
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left
	}
	#cssmenu>ul>li.has-sub>a:after,
	#cssmenu>ul>li.has-sub>a:before,
	#cssmenu ul ul>li.has-sub>a:after,
	#cssmenu ul ul>li.has-sub>a:before {
		display: none
	}
	#cssmenu #head-mobile {
		display: block;
		padding: 23px;
		color: #ddd;
		font-size: 12px;
		font-weight: 700
	}
	.button {
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
	}
	.button:after {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 4px;
		width: 20px;
		border-top: 2px solid #dddddd;
		border-bottom: 2px solid #dddddd;
		content: ''
	}
	.button:before {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #ddd;
		content: ''
	}
	.button.menu-opened:after {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		top: 23px;
		border: 0;
		height: 2px;
		width: 19px;
		background: #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}
	.button.menu-opened:before {
		top: 23px;
		background: #fff;
		width: 19px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	#cssmenu .submenu-button {
		position: absolute;
		z-index: 99;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid #444;
		height: 46px;
		width: 46px;
		cursor: pointer
	}
	#cssmenu .submenu-button.submenu-opened {
		background: #262626
	}
	#cssmenu ul ul .submenu-button {
		height: 34px;
		width: 34px
	}
	#cssmenu .submenu-button:after {
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #ddd;
		content: ''
	}
	#cssmenu ul ul .submenu-button:after {
		top: 15px;
		right: 13px
	}
	#cssmenu .submenu-button.submenu-opened:after {
		background: #fff
	}
	#cssmenu .submenu-button:before {
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #ddd;
		content: ''
	}
	#cssmenu ul ul .submenu-button:before {
		top: 12px;
		right: 16px
	}
	#cssmenu .submenu-button.submenu-opened:before {
		display: none
	}
	#cssmenu ul ul ul li.active a {
		border-left: none
	}
	#cssmenu>ul>li.has-sub>ul>li.active>a,
	#cssmenu>ul ul>li.has-sub>ul>li.active>a {
		border-top: none
	}
}

@media screen and (max-width: 360px){

.navbar-inverse {
	margin-left: 0px !important;
    margin-right: 0px !important;
}
}





















































